.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 3rem 5rem;
    box-shadow: 0px 4px 12px -6px rgb(12 15 18 / 8%), 0px 6px 24px -4px rgb(12 15 18 / 8%);
    border-radius: 12px;
}

.form-group {
    padding-bottom: 30px;
}

label {
    padding-bottom: 10px;
}

.submit-btn {
    width: 160px;
    height: 45px;
    margin-top: 20px;
    float: right;
}

.error {
    color: #dc3545;
    font-weight: 600;
    padding-top: 12px;
}